<a href="https://colab.research.google.com/github/spshreya/Spark/blob/main/linRegWithPyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 27 kB/s
Collecting py4j
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 49.5 MB/s
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 37.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=784fc8e57315c45a912051e5190eceece959fd5635ca650e741c2e513d277624
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('demo1').getOrCreate()

In [5]:
spark

In [6]:
from google.colab import files
uploaded = files.upload()

Saving fifa_data.csv to fifa_data.csv

In [7]:
df = spark.read.csv('fifa_data.csv', header=True, inferSchema=True)

In [8]:
df.head(3)

[Row(_c0=0, ID=158023, Name='L. Messi', Age=31, Photo='https://cdn.sofifa.org/players/4/19/158023.png', Nationality='Argentina', Flag='https://cdn.sofifa.org/flags/52.png', Overall=94, Potential=94, Club='FC Barcelona', Club Logo='https://cdn.sofifa.org/teams/2/light/241.png', Value='€110.5M', Wage='€565K', Special=2202, Preferred Foot='Left', International Reputation=5, Weak Foot=4, Skill Moves=4, Work Rate='Medium/ Medium', Body Type='Messi', Real Face='Yes', Position='RF', Jersey Number=10, Joined='Jul 1, 2004', Loaned From=None, Contract Valid Until='2021', Height="5'7", Weight='159lbs', LS='88+2', ST='88+2', RS='88+2', LW='92+2', LF='93+2', CF='93+2', RF='93+2', RW='92+2', LAM='93+2', CAM='93+2', RAM='93+2', LM='91+2', LCM='84+2', CM='84+2', RCM='84+2', RM='91+2', LWB='64+2', LDM='61+2', CDM='61+2', RDM='61+2', RWB='64+2', LB='59+2', LCB='47+2', CB='47+2', RCB='47+2', RB='59+2', Crossing=84, Finishing=95, HeadingAccuracy=70, ShortPassing=90, Volleys=86, Dribbling=97, Curve=93, FKAccuracy=94, LongPassing=87, BallControl=96, Acceleration=91, SprintSpeed=86, Agility=91, Reactions=95, Balance=95, ShotPower=85, Jumping=68, Stamina=72, Strength=59, LongShots=94, Aggression=48, Interceptions=22, Positioning=94, Vision=94, Penalties=75, Composure=96, Marking=33, StandingTackle=28, SlidingTackle=26, GKDiving=6, GKHandling=11, GKKicking=15, GKPositioning=14, GKReflexes=8, Release Clause='€226.5M'),
 Row(_c0=1, ID=20801, Name='Cristiano Ronaldo', Age=33, Photo='https://cdn.sofifa.org/players/4/19/20801.png', Nationality='Portugal', Flag='https://cdn.sofifa.org/flags/38.png', Overall=94, Potential=94, Club='Juventus', Club Logo='https://cdn.sofifa.org/teams/2/light/45.png', Value='€77M', Wage='€405K', Special=2228, Preferred Foot='Right', International Reputation=5, Weak Foot=4, Skill Moves=5, Work Rate='High/ Low', Body Type='C. Ronaldo', Real Face='Yes', Position='ST', Jersey Number=7, Joined='Jul 10, 2018', Loaned From=None, Contract Valid Until='2022', Height="6'2", Weight='183lbs', LS='91+3', ST='91+3', RS='91+3', LW='89+3', LF='90+3', CF='90+3', RF='90+3', RW='89+3', LAM='88+3', CAM='88+3', RAM='88+3', LM='88+3', LCM='81+3', CM='81+3', RCM='81+3', RM='88+3', LWB='65+3', LDM='61+3', CDM='61+3', RDM='61+3', RWB='65+3', LB='61+3', LCB='53+3', CB='53+3', RCB='53+3', RB='61+3', Crossing=84, Finishing=94, HeadingAccuracy=89, ShortPassing=81, Volleys=87, Dribbling=88, Curve=81, FKAccuracy=76, LongPassing=77, BallControl=94, Acceleration=89, SprintSpeed=91, Agility=87, Reactions=96, Balance=70, ShotPower=95, Jumping=95, Stamina=88, Strength=79, LongShots=93, Aggression=63, Interceptions=29, Positioning=95, Vision=82, Penalties=85, Composure=95, Marking=28, StandingTackle=31, SlidingTackle=23, GKDiving=7, GKHandling=11, GKKicking=15, GKPositioning=14, GKReflexes=11, Release Clause='€127.1M'),
 Row(_c0=2, ID=190871, Name='Neymar Jr', Age=26, Photo='https://cdn.sofifa.org/players/4/19/190871.png', Nationality='Brazil', Flag='https://cdn.sofifa.org/flags/54.png', Overall=92, Potential=93, Club='Paris Saint-Germain', Club Logo='https://cdn.sofifa.org/teams/2/light/73.png', Value='€118.5M', Wage='€290K', Special=2143, Preferred Foot='Right', International Reputation=5, Weak Foot=5, Skill Moves=5, Work Rate='High/ Medium', Body Type='Neymar', Real Face='Yes', Position='LW', Jersey Number=10, Joined='Aug 3, 2017', Loaned From=None, Contract Valid Until='2022', Height="5'9", Weight='150lbs', LS='84+3', ST='84+3', RS='84+3', LW='89+3', LF='89+3', CF='89+3', RF='89+3', RW='89+3', LAM='89+3', CAM='89+3', RAM='89+3', LM='88+3', LCM='81+3', CM='81+3', RCM='81+3', RM='88+3', LWB='65+3', LDM='60+3', CDM='60+3', RDM='60+3', RWB='65+3', LB='60+3', LCB='47+3', CB='47+3', RCB='47+3', RB='60+3', Crossing=79, Finishing=87, HeadingAccuracy=62, ShortPassing=84, Volleys=84, Dribbling=96, Curve=88, FKAccuracy=87, LongPassing=78, BallControl=95, Acceleration=94, SprintSpeed=90, Agility=96, Reactions=94, Balance=84, ShotPower=80, Jumping=61, Stamina=81, Strength=49, LongShots=82, Aggression=56, Interceptions=36, Positioning=89, Vision=87, Penalties=81, Composure=94, Marking=27, StandingTackle=24, SlidingTackle=33, GKDiving=9, GKHandling=9, GKKicking=15, GKPositioning=15, GKReflexes=11, Release Clause='€228.1M')]

In [9]:
df.describe()

DataFrame[summary: string, _c0: string, ID: string, Name: string, Age: string, Photo: string, Nationality: string, Flag: string, Overall: string, Potential: string, Club: string, Club Logo: string, Value: string, Wage: string, Special: string, Preferred Foot: string, International Reputation: string, Weak Foot: string, Skill Moves: string, Work Rate: string, Body Type: string, Real Face: string, Position: string, Jersey Number: string, Joined: string, Loaned From: string, Contract Valid Until: string, Height: string, Weight: string, LS: string, ST: string, RS: string, LW: string, LF: string, CF: string, RF: string, RW: string, LAM: string, CAM: string, RAM: string, LM: string, LCM: string, CM: string, RCM: string, RM: string, LWB: string, LDM: string, CDM: string, RDM: string, RWB: string, LB: string, LCB: string, CB: string, RCB: string, RB: string, Crossing: string, Finishing: string, HeadingAccuracy: string, ShortPassing: string, Volleys: string, Dribbling: string, Curve: string, FKAccuracy: string, LongPassing: string, BallControl: string, Acceleration: string, SprintSpeed: string, Agility: string, Reactions: string, Balance: string, ShotPower: string, Jumping: string, Stamina: string, Strength: string, LongShots: string, Aggression: string, Interceptions: string, Positioning: string, Vision: string, Penalties: string, Composure: string, Marking: string, StandingTackle: string, SlidingTackle: string, GKDiving: string, GKHandling: string, GKKicking: string, GKPositioning: string, GKReflexes: string, Release Clause: string]

In [10]:
df.dtypes

[('_c0', 'int'),
 ('ID', 'int'),
 ('Name', 'string'),
 ('Age', 'int'),
 ('Photo', 'string'),
 ('Nationality', 'string'),
 ('Flag', 'string'),
 ('Overall', 'int'),
 ('Potential', 'int'),
 ('Club', 'string'),
 ('Club Logo', 'string'),
 ('Value', 'string'),
 ('Wage', 'string'),
 ('Special', 'int'),
 ('Preferred Foot', 'string'),
 ('International Reputation', 'int'),
 ('Weak Foot', 'int'),
 ('Skill Moves', 'int'),
 ('Work Rate', 'string'),
 ('Body Type', 'string'),
 ('Real Face', 'string'),
 ('Position', 'string'),
 ('Jersey Number', 'int'),
 ('Joined', 'string'),
 ('Loaned From', 'string'),
 ('Contract Valid Until', 'string'),
 ('Height', 'string'),
 ('Weight', 'string'),
 ('LS', 'string'),
 ('ST', 'string'),
 ('RS', 'string'),
 ('LW', 'string'),
 ('LF', 'string'),
 ('CF', 'string'),
 ('RF', 'string'),
 ('RW', 'string'),
 ('LAM', 'string'),
 ('CAM', 'string'),
 ('RAM', 'string'),
 ('LM', 'string'),
 ('LCM', 'string'),
 ('CM', 'string'),
 ('RCM', 'string'),
 ('RM', 'string'),
 ('LWB', 'string'),
 ('LDM', 'string'),
 ('CDM', 'string'),
 ('RDM', 'string'),
 ('RWB', 'string'),
 ('LB', 'string'),
 ('LCB', 'string'),
 ('CB', 'string'),
 ('RCB', 'string'),
 ('RB', 'string'),
 ('Crossing', 'int'),
 ('Finishing', 'int'),
 ('HeadingAccuracy', 'int'),
 ('ShortPassing', 'int'),
 ('Volleys', 'int'),
 ('Dribbling', 'int'),
 ('Curve', 'int'),
 ('FKAccuracy', 'int'),
 ('LongPassing', 'int'),
 ('BallControl', 'int'),
 ('Acceleration', 'int'),
 ('SprintSpeed', 'int'),
 ('Agility', 'int'),
 ('Reactions', 'int'),
 ('Balance', 'int'),
 ('ShotPower', 'int'),
 ('Jumping', 'int'),
 ('Stamina', 'int'),
 ('Strength', 'int'),
 ('LongShots', 'int'),
 ('Aggression', 'int'),
 ('Interceptions', 'int'),
 ('Positioning', 'int'),
 ('Vision', 'int'),
 ('Penalties', 'int'),
 ('Composure', 'int'),
 ('Marking', 'int'),
 ('StandingTackle', 'int'),
 ('SlidingTackle', 'int'),
 ('GKDiving', 'int'),
 ('GKHandling', 'int'),
 ('GKKicking', 'int'),
 ('GKPositioning', 'int'),
 ('GKReflexes', 'int'),
 ('Release Clause', 'string')]

In [11]:
df.describe().show()

+-------+-----------------+------------------+-------------+------------------+--------------------+-----------+--------------------+-----------------+-----------------+--------------------+--------------------+-----+-----+------------------+--------------+------------------------+------------------+------------------+--------------+---------+---------+--------+------------------+-----------+-------------+--------------------+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------+
|summary|              _c0|                ID|         Name|               Age|               Photo|Nationality|                Flag|          Overall|        Potential|                Club|           Club Logo|Value| Wage|           Special|Preferred Foot|International Reputation|         Weak Foot|       Skill Moves|     Work Rate|Body Type|Real Face|Position|     Jersey Number|     Joined|  Loaned From|Contract Valid Until|Height|Weight|   LS|   ST|   RS|   LW|   LF|   CF|   RF|   RW|  LAM|  CAM|  RAM|   LM|  LCM|   CM|  RCM|   RM|  LWB|  LDM|  CDM|  RDM|  RWB|   LB|  LCB|   CB|  RCB|   RB|          Crossing|        Finishing|   HeadingAccuracy|      ShortPassing|          Volleys|         Dribbling|             Curve|        FKAccuracy|       LongPassing|       BallControl|      Acceleration|       SprintSpeed|           Agility|        Reactions|           Balance|         ShotPower|           Jumping|           Stamina|          Strength|         LongShots|       Aggression|     Interceptions|      Positioning|            Vision|        Penalties|         Composure|           Marking|    StandingTackle|     SlidingTackle|          GKDiving|        GKHandling|         GKKicking|     GKPositioning|        GKReflexes|Release Clause|
+-------+-----------------+------------------+-------------+------------------+--------------------+-----------+--------------------+-----------------+-----------------+--------------------+--------------------+-----+-----+------------------+--------------+------------------------+------------------+------------------+--------------+---------+---------+--------+------------------+-----------+-------------+--------------------+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------+
|  count|            18207|             18207|        18207|             18207|               18207|      18207|               18207|            18207|            18207|               17966|               18207|18207|18207|             18207|         18159|                   18159|             18159|             18159|         18159|    18159|    18159|   18147|             18147|      16654|         1264|               17918| 18159| 18159|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|16122|             18159|            18159|             18159|             18159|            18159|             18159|             18159|             18159|             18159|             18159|             18159|             18159|             18159|            18159|             18159|             18159|             18159|             18159|             18159|             18159|            18159|             18159|            18159|             18159|            18159|             18159|             18159|             18159|             18159|             18159|             18159|             18159|             18159|             18159|         16643|
|   mean|           9103.0|214298.33860603065|         null|25.122205745043114|                null|       null|                null|66.23869940132916|71.30729939034437|                null|                null| null| null|1597.8099082770364|          null|      1.1132220937276283|2.9472988600693872| 2.361308442094829|          null|     null|     null|    null|19.546095773406073|       null|         null|  2020.2414434970578|  null|  null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null|49.734181397654055|45.55091139379922| 52.29814417093452| 58.68671182333829| 42.9090258274134| 55.37100060576023|47.170824384602675|42.863153257337956|52.711933476513025|58.369458670631644| 64.61407566495953| 64.72696734401674|63.503607026818656|61.83660994548158|63.966573049176716| 55.46004735943609| 65.08943223745801|  63.2199460322705| 65.31196651798007| 47.10997301613525|55.86899058318189|46.698276336802685|49.95847788975164| 53.40090313343246|48.54859849110634|  58.6482735833471|47.281623437413955| 47.69783578390881| 45.66143510105182|  16.6162233603172|16.391596453549205| 16.23206123685225|16.388898067074177|16.710887163390055|          null|
| stddev|5256.052511153213| 29965.24420376608|         null| 4.669942713414296|                null|       null|                null|6.908929611883165| 6.13649558349912|                null|                null| null| null| 272.5860158906397|          null|      0.3940307558442122|0.6604562822592945|0.7561640557919408|          null|     null|     null|    null|15.947765140868237|       null|         null|  1.2909282972004381|  null|  null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| null| 18.36452420237953|19.52582047121581|17.379908855454627|14.699495132549078|17.69440772366863|18.910371098619716|18.395263818692563|17.478762995292467|15.327870463760853| 16.68659540555203|14.927779737812699|14.649952914352776|14.766049258067978|9.010464421352484|14.136165954649547|17.237957966796188|11.820044269269953|15.894740529253603|12.557000141076356|19.260524497970682| 17.3679673454432| 20.69690885978705|19.52903556526877|14.146880724464184|15.70405349133064|11.436132970353357|19.904397257020207|21.664003725934187|21.289134678741707|17.695348811680017|16.906900495701827|16.502864494079905|17.034669173227268|  17.9551186212007|          null|
|    min|                0|                16|     A. Abang|                16|https://cdn.sofif...|Afghanistan|https://cdn.sofif...|               46|               48| SSV Jahn Regensburg|https://cdn.sofif...|   €0|   €0|               731|          Left|                       1|                 1|                 1|    High/ High|Akinfenwa|       No|     CAM|                 1|Apr 1, 2008|   1. FC Köln|                2018|   5'1|110lbs| 31+2| 31+2| 31+2| 25+2| 27+2| 27+2| 27+2| 25+2| 27+2| 27+2| 27+2| 27+2| 30+2| 30+2| 30+2| 27+2| 30+2| 28+2| 28+2| 28+2| 30+2| 29+2| 25+2| 25+2| 25+2| 29+2|                 5|                2|                 4|                 7|                4|                 4|                 6|                 3|                 9|                 5|                12|                12|                14|               21|                16|                 2|                15|                12|                17|                 3|               11|                 3|                2|                10|                5|                 3|                 3|                 2|                 3|                 1|                 1|                 1|                 1|                 1|         €1.1M|
|    max|            18206|            246620|Óscar Whalley|                45|https://cdn.sofif...|   Zimbabwe|https://cdn.sofif...|               94|               95|       Śląsk Wrocław|https://cdn.sofif...|  €9M|  €9K|              2346|         Right|                       5|                 5|                 5|Medium/ Medium|   Stocky|      Yes|      ST|                99|Sep 9, 2018|Östersunds FK|        Oct 14, 2019|   6'9|243lbs| 91+3| 91+3| 91+3| 92+2| 93+2| 93+2| 93+2| 92+2| 93+2| 93+2| 93+2| 91+2| 88+3| 88+3| 88+3| 91+2| 85+3| 87+3| 87+3| 87+3| 85+3| 84+3| 87+3| 87+3| 87+3| 84+3|                93|               95|                94|                93|               90|                97|                94|                94|                93|                96|                97|                96|                96|               96|                96|                95|                95|                96|                97|                94|               95|                92|               95|                94|               92|                96|                94|                93|                91|                90|                92|                91|                90|                94|           €9M|
+-------+-----------------+------------------+-------------+------------------+--------------------+-----------+--------------------+-----------------+-----------------+--------------------+--------------------+-----+-----+------------------+--------------+------------------------+------------------+------------------+--------------+---------+---------+--------+------------------+-----------+-------------+--------------------+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------+

In [12]:
df=df.drop('Photo','Flag','Club Logo')
df.show()

+---+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|_c0|    ID|             Name|Age|Nationality|Overall|Potential|               Club|  Value| Wage|Special|Preferred Foot|International Reputation|Weak Foot|Skill Moves|     Work Rate| Body Type|Real Face|Position|Jersey Number|      Joined|Loaned From|Contract Valid Until|Height|Weight|  LS|  ST|  RS|  LW|  LF|  CF|  RF|  RW| LAM| CAM| RAM|  LM| LCM|  CM| RCM|  RM| LWB| LDM| CDM| RDM| RWB|  LB| LCB|  CB| RCB|  RB|Crossing|Finishing|HeadingAccuracy|ShortPassing|Volleys|Dribbling|Curve|FKAccuracy|LongPassing|BallControl|Acceleration|SprintSpeed|Agility|Reactions|Balance|ShotPower|Jumping|Stamina|Strength|LongShots|Aggression|Interceptions|Positioning|Vision|Penalties|Composure|Marking|StandingTackle|SlidingTackle|GKDiving|GKHandling|GKKicking|GKPositioning|GKReflexes|Release Clause|
+---+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|  0|158023|         L. Messi| 31|  Argentina|     94|       94|       FC Barcelona|€110.5M|€565K|   2202|          Left|                       5|        4|          4|Medium/ Medium|     Messi|      Yes|      RF|           10| Jul 1, 2004|       null|                2021|   5'7|159lbs|88+2|88+2|88+2|92+2|93+2|93+2|93+2|92+2|93+2|93+2|93+2|91+2|84+2|84+2|84+2|91+2|64+2|61+2|61+2|61+2|64+2|59+2|47+2|47+2|47+2|59+2|      84|       95|             70|          90|     86|       97|   93|        94|         87|         96|          91|         86|     91|       95|     95|       85|     68|     72|      59|       94|        48|           22|         94|    94|       75|       96|     33|            28|           26|       6|        11|       15|           14|         8|       €226.5M|
|  1| 20801|Cristiano Ronaldo| 33|   Portugal|     94|       94|           Juventus|   €77M|€405K|   2228|         Right|                       5|        4|          5|     High/ Low|C. Ronaldo|      Yes|      ST|            7|Jul 10, 2018|       null|                2022|   6'2|183lbs|91+3|91+3|91+3|89+3|90+3|90+3|90+3|89+3|88+3|88+3|88+3|88+3|81+3|81+3|81+3|88+3|65+3|61+3|61+3|61+3|65+3|61+3|53+3|53+3|53+3|61+3|      84|       94|             89|          81|     87|       88|   81|        76|         77|         94|          89|         91|     87|       96|     70|       95|     95|     88|      79|       93|        63|           29|         95|    82|       85|       95|     28|            31|           23|       7|        11|       15|           14|        11|       €127.1M|
|  2|190871|        Neymar Jr| 26|     Brazil|     92|       93|Paris Saint-Germain|€118.5M|€290K|   2143|         Right|                       5|        5|          5|  High/ Medium|    Neymar|      Yes|      LW|           10| Aug 3, 2017|       null|                2022|   5'9|150lbs|84+3|84+3|84+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|88+3|81+3|81+3|81+3|88+3|65+3|60+3|60+3|60+3|65+3|60+3|47+3|47+3|47+3|60+3|      79|       87|             62|          84|     84|       96|   88|        87|         78|         95|          94|         90|     96|       94|     84|       80|     61|     81|      49|       82|        56|           36|         89|    87|       81|       94|     27|            24|           33|       9|         9|       15|           15|        11|       €228.1M|
|  3|193080|           De Gea| 27|      Spain|     91|       93|  Manchester United|   €72M|€260K|   1471|         Right|                       4|        3|          1|Medium/ Medium|      Lean|      Yes|      GK|            1| Jul 1, 2011|       null|                2020|   6'4|168lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      17|       13|             21|          50|     13|       18|   21|        19|         51|         42|          57|         58|     60|       90|     43|       31|     67|     43|      64|       12|        38|           30|         12|    68|       40|       68|     15|            21|           13|      90|        85|       87|           88|        94|       €138.6M|
|  4|192985|     K. De Bruyne| 27|    Belgium|     91|       92|    Manchester City|  €102M|€355K|   2281|         Right|                       4|        5|          4|    High/ High|    Normal|      Yes|     RCM|            7|Aug 30, 2015|       null|                2023|  5'11|154lbs|82+3|82+3|82+3|87+3|87+3|87+3|87+3|87+3|88+3|88+3|88+3|88+3|87+3|87+3|87+3|88+3|77+3|77+3|77+3|77+3|77+3|73+3|66+3|66+3|66+3|73+3|      93|       82|             55|          92|     82|       86|   85|        83|         91|         91|          78|         76|     79|       91|     77|       91|     63|     90|      75|       91|        76|           61|         87|    94|       79|       88|     68|            58|           51|      15|        13|        5|           10|        13|       €196.4M|
|  5|183277|        E. Hazard| 27|    Belgium|     91|       91|            Chelsea|   €93M|€340K|   2142|         Right|                       4|        4|          4|  High/ Medium|    Normal|      Yes|      LF|           10| Jul 1, 2012|       null|                2020|   5'8|163lbs|83+3|83+3|83+3|89+3|88+3|88+3|88+3|89+3|89+3|89+3|89+3|89+3|82+3|82+3|82+3|89+3|66+3|63+3|63+3|63+3|66+3|60+3|49+3|49+3|49+3|60+3|      81|       84|             61|          89|     80|       95|   83|        79|         83|         94|          94|         88|     95|       90|     94|       82|     56|     83|      66|       80|        54|           41|         87|    89|       86|       91|     34|            27|           22|      11|        12|        6|            8|         8|       €172.1M|
|  6|177003|        L. Modrić| 32|    Croatia|     91|       91|        Real Madrid|   €67M|€420K|   2280|         Right|                       4|        4|          4|    High/ High|      Lean|      Yes|     RCM|           10| Aug 1, 2012|       null|                2020|   5'8|146lbs|77+3|77+3|77+3|85+3|84+3|84+3|84+3|85+3|87+3|87+3|87+3|86+3|88+3|88+3|88+3|86+3|82+3|81+3|81+3|81+3|82+3|79+3|71+3|71+3|71+3|79+3|      86|       72|             55|          93|     76|       90|   85|        78|         88|         93|          80|         72|     93|       90|     94|       79|     68|     89|      58|       82|        62|           83|         79|    92|       82|       84|     60|            76|           73|      13|         9|        7|           14|         9|       €137.4M|
|  7|176580|        L. Suárez| 31|    Uruguay|     91|       91|       FC Barcelona|   €80M|€455K|   2346|         Right|                       5|        4|          3|  High/ Medium|    Normal|      Yes|      RS|            9|Jul 11, 2014|       null|                2021|   6'0|190lbs|87+5|87+5|87+5|86+5|87+5|87+5|87+5|86+5|85+5|85+5|85+5|84+5|79+5|79+5|79+5|84+5|69+5|68+5|68+5|68+5|69+5|66+5|63+5|63+5|63+5|66+5|      77|       93|             77|          82|     88|       87|   86|        84|         64|         90|          86|         75|     82|       92|     83|       86|     69|     90|      83|       85|        87|           41|         92|    84|       85|       85|     62|            45|           38|      27|        25|       31|           33|        37|         €164M|
|  8|155862|     Sergio Ramos| 32|      Spain|     91|       91|        Real Madrid|   €51M|€380K|   2201|         Right|                       4|        3|          3|  High/ Medium|    Normal|      Yes|     RCB|           15| Aug 1, 2005|       null|                2020|   6'0|181lbs|73+3|73+3|73+3|70+3|71+3|71+3|71+3|70+3|71+3|71+3|71+3|72+3|75+3|75+3|75+3|72+3|81+3|84+3|84+3|84+3|81+3|84+3|87+3|87+3|87+3|84+3|      66|       60|             91|          78|     66|       63|   74|        72|         77|         84|          76|         75|     78|       85|     66|       79|     93|     84|      83|       59|        88|           90|         60|    63|       75|       82|     87|            92|           91|      11|         8|        9|            7|        11|       €104.6M|
|  9|200389|         J. Oblak| 25|   Slovenia|     90|       93|    Atlético Madrid|   €68M| €94K|   1331|         Right|                       3|        3|          1|Medium/ Medium|    Normal|      Yes|      GK|            1|Jul 16, 2014|       null|                2021|   6'2|192lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      13|       11|             15|          29|     13|       12|   13|        14|         26|         16|          43|         60|     67|       86|     49|       22|     76|     41|      78|       12|        34|           19|         11|    70|       11|       70|     27|            12|           18|      86|        92|       78|           88|        89|       €144.5M|
| 10|188545|   R. Lewandowski| 29|     Poland|     90|       90|  FC Bayern München|   €77M|€205K|   2152|         Right|                       4|        4|          4|  High/ Medium|    Normal|      Yes|      ST|            9| Jul 1, 2014|       null|                2021|   6'0|176lbs|87+3|87+3|87+3|83+3|86+3|86+3|86+3|83+3|83+3|83+3|83+3|81+3|77+3|77+3|77+3|81+3|61+3|62+3|62+3|62+3|61+3|58+3|57+3|57+3|57+3|58+3|      62|       91|             85|          83|     89|       85|   77|        86|         65|         89|          77|         78|     78|       90|     78|       88|     84|     78|      84|       84|        80|           39|         91|    77|       88|       86|     34|            42|           19|      15|         6|       12|            8|        10|       €127.1M|
| 11|182521|         T. Kroos| 28|    Germany|     90|       90|        Real Madrid| €76.5M|€355K|   2190|         Right|                       4|        5|          3|Medium/ Medium|    Normal|      Yes|     LCM|            8|Jul 17, 2014|       null|                2022|   6'0|168lbs|78+3|78+3|78+3|81+3|82+3|82+3|82+3|81+3|84+3|84+3|84+3|82+3|86+3|86+3|86+3|82+3|79+3|82+3|82+3|82+3|79+3|77+3|72+3|72+3|72+3|77+3|      88|       76|             54|          92|     82|       81|   86|        84|         93|         90|          64|         62|     70|       89|     71|       87|     30|     75|      73|       92|        60|           82|         79|    86|       73|       85|     72|            79|           69|      10|        11|       13|            7|        10|       €156.8M|
| 12|182493|         D. Godín| 32|    Uruguay|     90|       90|    Atlético Madrid|   €44M|€125K|   1946|         Right|                       3|        3|          2|  Medium/ High|      Lean|      Yes|      CB|           10| Aug 4, 2010|       null|                2019|   6'2|172lbs|64+3|64+3|64+3|61+3|62+3|62+3|62+3|61+3|62+3|62+3|62+3|63+3|68+3|68+3|68+3|63+3|76+3|81+3|81+3|81+3|76+3|79+3|87+3|87+3|87+3|79+3|      55|       42|             92|          79|     47|       53|   49|        51|         70|         76|          68|         68|     58|       85|     54|       67|     91|     66|      88|       43|        89|           88|         48|    52|       50|       82|     90|            89|           89|       6|         8|       15|            5|        15|        €90.2M|
| 13|168542|      David Silva| 32|      Spain|     90|       90|    Manchester City|   €60M|€285K|   2115|          Left|                       4|        2|          4|  High/ Medium|    Normal|      Yes|     LCM|           21|Jul 14, 2010|       null|                2020|   5'8|148lbs|77+3|77+3|77+3|85+3|84+3|84+3|84+3|85+3|87+3|87+3|87+3|85+3|85+3|85+3|85+3|85+3|69+3|70+3|70+3|70+3|69+3|64+3|57+3|57+3|57+3|64+3|      84|       76|             54|          93|     82|       89|   82|        77|         87|         94|          70|         64|     92|       90|     90|       72|     64|     78|      52|       75|        57|           50|         89|    92|       75|       93|     59|            53|           29|       6|        15|        7|            6|        12|         €111M|
| 14|215914|         N. Kanté| 27|     France|     89|       90|            Chelsea|   €63M|€225K|   2189|         Right|                       3|        3|          2|  Medium/ High|      Lean|      Yes|     LDM|           13|Jul 16, 2016|       null|                2023|   5'6|159lbs|72+3|72+3|72+3|77+3|77+3|77+3|77+3|77+3|79+3|79+3|79+3|79+3|82+3|82+3|82+3|79+3|85+3|87+3|87+3|87+3|85+3|84+3|83+3|83+3|83+3|84+3|      68|       65|             54|          86|     56|       79|   49|        49|         81|         80|          82|         78|     82|       93|     92|       71|     77|     96|      76|       69|        90|           92|         71|    79|       54|       85|     90|            91|           85|      15|        12|       10|            7|        10|       €121.3M|
| 15|211110|        P. Dybala| 24|  Argentina|     89|       94|           Juventus|   €89M|€205K|   2092|          Left|                       3|        3|          4|  High/ Medium|    Normal|      Yes|      LF|           21| Jul 1, 2015|       null|                2022|  5'10|165lbs|83+3|83+3|83+3|87+3|86+3|86+3|86+3|87+3|87+3|87+3|87+3|86+3|79+3|79+3|79+3|86+3|62+3|58+3|58+3|58+3|62+3|56+3|45+3|45+3|45+3|56+3|      82|       84|             68|          87|     88|       92|   88|        88|         75|         92|          87|         83|     91|       86|     85|       82|     75|     80|      65|       88|        48|           32|         84|    87|       86|       84|     23|            20|           20|       5|         4|        4|            5|         8|       €153.5M|
| 16|202126|          H. Kane| 24|    England|     89|       91|  Tottenham Hotspur| €83.5M|€205K|   2165|         Right|                       3|        4|          3|    High/ High|    Normal|      Yes|      ST|            9| Jul 1, 2010|       null|                2024|   6'2|196lbs|86+3|86+3|86+3|82+3|84+3|84+3|84+3|82+3|82+3|82+3|82+3|81+3|79+3|79+3|79+3|81+3|65+3|66+3|66+3|66+3|65+3|62+3|60+3|60+3|60+3|62+3|      75|       94|             85|          80|     84|       80|   78|        68|         82|         84|          68|         72|     71|       91|     71|       88|     78|     89|      84|       85|        76|           35|         93|    80|       90|       89|     56|            36|           38|       8|        10|       11|           14|        11|       €160.7M|
| 17|194765|     A. Griezmann| 27|     France|     89|       90|    Atlético Madrid|   €78M|€145K|   2246|          Left|                       4|        3|          4|    High/ High|      Lean|      Yes|     CAM|            7|Jul 28, 2014|       null|                2023|   5'9|161lbs|86+3|86+3|86+3|87+3|87+3|87+3|87+3|87+3|86+3|86+3|86+3|86+3|80+3|80+3|80+3|86+3|70+3|67+3|67+3|67+3|70+3|67+3|61+3|61+3|61+3|67+3|      82|       90|             84|          83|     87|       88|   84|        78|         76|         90|          88|         85|     90|       90|     80|       80|     90|     83|      62|       82|        69|           35|         91|    83|       79|       87|     59|            47|           48|      14|         8|       14|           13|        14|       €165.8M|
| 18|192448|    M. ter Stegen| 26|    Germany|     89|       92|       FC Barcelona|   €58M|€240K|   1328|         Right|                       3|        4|          1|Medium/ Medium|    Normal|      Yes|      GK|           22| Jul 1, 2014|       null|                2022|   6'2|187lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      15|       14|             11|          36|     14|       17|   18|        12|         42|         18|          38|         50|     37|       85|     43|       22|     79|     35|      79|       10|        43|           22|         11|    69|       25|       69|     25|            13|           10|      87|        85|       88|           85|        90|       €123.3M|
| 19|192119|      T. Courtois| 26|    Belgium|     89|       90|        Real Madrid| €53.5M|€240K|   1311|          Left|                       4|        2|          1|Medium/ Medium|  Courtois|      Yes|      GK|            1| Aug 9, 2018|       null|                2024|   6'6|212lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      14|       14|             13|          33|     12|       13|   19|        20|         35|         23|          46|         52|     61|       84|     45|       36|     68|     38|      70|       17|        23|           15|         13|    44|       27|       66|     20|            18|           16|      85|        91|       72|           86|        88|       €113.7M|
+---+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
only showing top 20 rows

In [13]:
df= df.withColumnRenamed('_c0','Index')
df.show()

+-----+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|Index|    ID|             Name|Age|Nationality|Overall|Potential|               Club|  Value| Wage|Special|Preferred Foot|International Reputation|Weak Foot|Skill Moves|     Work Rate| Body Type|Real Face|Position|Jersey Number|      Joined|Loaned From|Contract Valid Until|Height|Weight|  LS|  ST|  RS|  LW|  LF|  CF|  RF|  RW| LAM| CAM| RAM|  LM| LCM|  CM| RCM|  RM| LWB| LDM| CDM| RDM| RWB|  LB| LCB|  CB| RCB|  RB|Crossing|Finishing|HeadingAccuracy|ShortPassing|Volleys|Dribbling|Curve|FKAccuracy|LongPassing|BallControl|Acceleration|SprintSpeed|Agility|Reactions|Balance|ShotPower|Jumping|Stamina|Strength|LongShots|Aggression|Interceptions|Positioning|Vision|Penalties|Composure|Marking|StandingTackle|SlidingTackle|GKDiving|GKHandling|GKKicking|GKPositioning|GKReflexes|Release Clause|
+-----+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|    0|158023|         L. Messi| 31|  Argentina|     94|       94|       FC Barcelona|€110.5M|€565K|   2202|          Left|                       5|        4|          4|Medium/ Medium|     Messi|      Yes|      RF|           10| Jul 1, 2004|       null|                2021|   5'7|159lbs|88+2|88+2|88+2|92+2|93+2|93+2|93+2|92+2|93+2|93+2|93+2|91+2|84+2|84+2|84+2|91+2|64+2|61+2|61+2|61+2|64+2|59+2|47+2|47+2|47+2|59+2|      84|       95|             70|          90|     86|       97|   93|        94|         87|         96|          91|         86|     91|       95|     95|       85|     68|     72|      59|       94|        48|           22|         94|    94|       75|       96|     33|            28|           26|       6|        11|       15|           14|         8|       €226.5M|
|    1| 20801|Cristiano Ronaldo| 33|   Portugal|     94|       94|           Juventus|   €77M|€405K|   2228|         Right|                       5|        4|          5|     High/ Low|C. Ronaldo|      Yes|      ST|            7|Jul 10, 2018|       null|                2022|   6'2|183lbs|91+3|91+3|91+3|89+3|90+3|90+3|90+3|89+3|88+3|88+3|88+3|88+3|81+3|81+3|81+3|88+3|65+3|61+3|61+3|61+3|65+3|61+3|53+3|53+3|53+3|61+3|      84|       94|             89|          81|     87|       88|   81|        76|         77|         94|          89|         91|     87|       96|     70|       95|     95|     88|      79|       93|        63|           29|         95|    82|       85|       95|     28|            31|           23|       7|        11|       15|           14|        11|       €127.1M|
|    2|190871|        Neymar Jr| 26|     Brazil|     92|       93|Paris Saint-Germain|€118.5M|€290K|   2143|         Right|                       5|        5|          5|  High/ Medium|    Neymar|      Yes|      LW|           10| Aug 3, 2017|       null|                2022|   5'9|150lbs|84+3|84+3|84+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|88+3|81+3|81+3|81+3|88+3|65+3|60+3|60+3|60+3|65+3|60+3|47+3|47+3|47+3|60+3|      79|       87|             62|          84|     84|       96|   88|        87|         78|         95|          94|         90|     96|       94|     84|       80|     61|     81|      49|       82|        56|           36|         89|    87|       81|       94|     27|            24|           33|       9|         9|       15|           15|        11|       €228.1M|
|    3|193080|           De Gea| 27|      Spain|     91|       93|  Manchester United|   €72M|€260K|   1471|         Right|                       4|        3|          1|Medium/ Medium|      Lean|      Yes|      GK|            1| Jul 1, 2011|       null|                2020|   6'4|168lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      17|       13|             21|          50|     13|       18|   21|        19|         51|         42|          57|         58|     60|       90|     43|       31|     67|     43|      64|       12|        38|           30|         12|    68|       40|       68|     15|            21|           13|      90|        85|       87|           88|        94|       €138.6M|
|    4|192985|     K. De Bruyne| 27|    Belgium|     91|       92|    Manchester City|  €102M|€355K|   2281|         Right|                       4|        5|          4|    High/ High|    Normal|      Yes|     RCM|            7|Aug 30, 2015|       null|                2023|  5'11|154lbs|82+3|82+3|82+3|87+3|87+3|87+3|87+3|87+3|88+3|88+3|88+3|88+3|87+3|87+3|87+3|88+3|77+3|77+3|77+3|77+3|77+3|73+3|66+3|66+3|66+3|73+3|      93|       82|             55|          92|     82|       86|   85|        83|         91|         91|          78|         76|     79|       91|     77|       91|     63|     90|      75|       91|        76|           61|         87|    94|       79|       88|     68|            58|           51|      15|        13|        5|           10|        13|       €196.4M|
|    5|183277|        E. Hazard| 27|    Belgium|     91|       91|            Chelsea|   €93M|€340K|   2142|         Right|                       4|        4|          4|  High/ Medium|    Normal|      Yes|      LF|           10| Jul 1, 2012|       null|                2020|   5'8|163lbs|83+3|83+3|83+3|89+3|88+3|88+3|88+3|89+3|89+3|89+3|89+3|89+3|82+3|82+3|82+3|89+3|66+3|63+3|63+3|63+3|66+3|60+3|49+3|49+3|49+3|60+3|      81|       84|             61|          89|     80|       95|   83|        79|         83|         94|          94|         88|     95|       90|     94|       82|     56|     83|      66|       80|        54|           41|         87|    89|       86|       91|     34|            27|           22|      11|        12|        6|            8|         8|       €172.1M|
|    6|177003|        L. Modrić| 32|    Croatia|     91|       91|        Real Madrid|   €67M|€420K|   2280|         Right|                       4|        4|          4|    High/ High|      Lean|      Yes|     RCM|           10| Aug 1, 2012|       null|                2020|   5'8|146lbs|77+3|77+3|77+3|85+3|84+3|84+3|84+3|85+3|87+3|87+3|87+3|86+3|88+3|88+3|88+3|86+3|82+3|81+3|81+3|81+3|82+3|79+3|71+3|71+3|71+3|79+3|      86|       72|             55|          93|     76|       90|   85|        78|         88|         93|          80|         72|     93|       90|     94|       79|     68|     89|      58|       82|        62|           83|         79|    92|       82|       84|     60|            76|           73|      13|         9|        7|           14|         9|       €137.4M|
|    7|176580|        L. Suárez| 31|    Uruguay|     91|       91|       FC Barcelona|   €80M|€455K|   2346|         Right|                       5|        4|          3|  High/ Medium|    Normal|      Yes|      RS|            9|Jul 11, 2014|       null|                2021|   6'0|190lbs|87+5|87+5|87+5|86+5|87+5|87+5|87+5|86+5|85+5|85+5|85+5|84+5|79+5|79+5|79+5|84+5|69+5|68+5|68+5|68+5|69+5|66+5|63+5|63+5|63+5|66+5|      77|       93|             77|          82|     88|       87|   86|        84|         64|         90|          86|         75|     82|       92|     83|       86|     69|     90|      83|       85|        87|           41|         92|    84|       85|       85|     62|            45|           38|      27|        25|       31|           33|        37|         €164M|
|    8|155862|     Sergio Ramos| 32|      Spain|     91|       91|        Real Madrid|   €51M|€380K|   2201|         Right|                       4|        3|          3|  High/ Medium|    Normal|      Yes|     RCB|           15| Aug 1, 2005|       null|                2020|   6'0|181lbs|73+3|73+3|73+3|70+3|71+3|71+3|71+3|70+3|71+3|71+3|71+3|72+3|75+3|75+3|75+3|72+3|81+3|84+3|84+3|84+3|81+3|84+3|87+3|87+3|87+3|84+3|      66|       60|             91|          78|     66|       63|   74|        72|         77|         84|          76|         75|     78|       85|     66|       79|     93|     84|      83|       59|        88|           90|         60|    63|       75|       82|     87|            92|           91|      11|         8|        9|            7|        11|       €104.6M|
|    9|200389|         J. Oblak| 25|   Slovenia|     90|       93|    Atlético Madrid|   €68M| €94K|   1331|         Right|                       3|        3|          1|Medium/ Medium|    Normal|      Yes|      GK|            1|Jul 16, 2014|       null|                2021|   6'2|192lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      13|       11|             15|          29|     13|       12|   13|        14|         26|         16|          43|         60|     67|       86|     49|       22|     76|     41|      78|       12|        34|           19|         11|    70|       11|       70|     27|            12|           18|      86|        92|       78|           88|        89|       €144.5M|
|   10|188545|   R. Lewandowski| 29|     Poland|     90|       90|  FC Bayern München|   €77M|€205K|   2152|         Right|                       4|        4|          4|  High/ Medium|    Normal|      Yes|      ST|            9| Jul 1, 2014|       null|                2021|   6'0|176lbs|87+3|87+3|87+3|83+3|86+3|86+3|86+3|83+3|83+3|83+3|83+3|81+3|77+3|77+3|77+3|81+3|61+3|62+3|62+3|62+3|61+3|58+3|57+3|57+3|57+3|58+3|      62|       91|             85|          83|     89|       85|   77|        86|         65|         89|          77|         78|     78|       90|     78|       88|     84|     78|      84|       84|        80|           39|         91|    77|       88|       86|     34|            42|           19|      15|         6|       12|            8|        10|       €127.1M|
|   11|182521|         T. Kroos| 28|    Germany|     90|       90|        Real Madrid| €76.5M|€355K|   2190|         Right|                       4|        5|          3|Medium/ Medium|    Normal|      Yes|     LCM|            8|Jul 17, 2014|       null|                2022|   6'0|168lbs|78+3|78+3|78+3|81+3|82+3|82+3|82+3|81+3|84+3|84+3|84+3|82+3|86+3|86+3|86+3|82+3|79+3|82+3|82+3|82+3|79+3|77+3|72+3|72+3|72+3|77+3|      88|       76|             54|          92|     82|       81|   86|        84|         93|         90|          64|         62|     70|       89|     71|       87|     30|     75|      73|       92|        60|           82|         79|    86|       73|       85|     72|            79|           69|      10|        11|       13|            7|        10|       €156.8M|
|   12|182493|         D. Godín| 32|    Uruguay|     90|       90|    Atlético Madrid|   €44M|€125K|   1946|         Right|                       3|        3|          2|  Medium/ High|      Lean|      Yes|      CB|           10| Aug 4, 2010|       null|                2019|   6'2|172lbs|64+3|64+3|64+3|61+3|62+3|62+3|62+3|61+3|62+3|62+3|62+3|63+3|68+3|68+3|68+3|63+3|76+3|81+3|81+3|81+3|76+3|79+3|87+3|87+3|87+3|79+3|      55|       42|             92|          79|     47|       53|   49|        51|         70|         76|          68|         68|     58|       85|     54|       67|     91|     66|      88|       43|        89|           88|         48|    52|       50|       82|     90|            89|           89|       6|         8|       15|            5|        15|        €90.2M|
|   13|168542|      David Silva| 32|      Spain|     90|       90|    Manchester City|   €60M|€285K|   2115|          Left|                       4|        2|          4|  High/ Medium|    Normal|      Yes|     LCM|           21|Jul 14, 2010|       null|                2020|   5'8|148lbs|77+3|77+3|77+3|85+3|84+3|84+3|84+3|85+3|87+3|87+3|87+3|85+3|85+3|85+3|85+3|85+3|69+3|70+3|70+3|70+3|69+3|64+3|57+3|57+3|57+3|64+3|      84|       76|             54|          93|     82|       89|   82|        77|         87|         94|          70|         64|     92|       90|     90|       72|     64|     78|      52|       75|        57|           50|         89|    92|       75|       93|     59|            53|           29|       6|        15|        7|            6|        12|         €111M|
|   14|215914|         N. Kanté| 27|     France|     89|       90|            Chelsea|   €63M|€225K|   2189|         Right|                       3|        3|          2|  Medium/ High|      Lean|      Yes|     LDM|           13|Jul 16, 2016|       null|                2023|   5'6|159lbs|72+3|72+3|72+3|77+3|77+3|77+3|77+3|77+3|79+3|79+3|79+3|79+3|82+3|82+3|82+3|79+3|85+3|87+3|87+3|87+3|85+3|84+3|83+3|83+3|83+3|84+3|      68|       65|             54|          86|     56|       79|   49|        49|         81|         80|          82|         78|     82|       93|     92|       71|     77|     96|      76|       69|        90|           92|         71|    79|       54|       85|     90|            91|           85|      15|        12|       10|            7|        10|       €121.3M|
|   15|211110|        P. Dybala| 24|  Argentina|     89|       94|           Juventus|   €89M|€205K|   2092|          Left|                       3|        3|          4|  High/ Medium|    Normal|      Yes|      LF|           21| Jul 1, 2015|       null|                2022|  5'10|165lbs|83+3|83+3|83+3|87+3|86+3|86+3|86+3|87+3|87+3|87+3|87+3|86+3|79+3|79+3|79+3|86+3|62+3|58+3|58+3|58+3|62+3|56+3|45+3|45+3|45+3|56+3|      82|       84|             68|          87|     88|       92|   88|        88|         75|         92|          87|         83|     91|       86|     85|       82|     75|     80|      65|       88|        48|           32|         84|    87|       86|       84|     23|            20|           20|       5|         4|        4|            5|         8|       €153.5M|
|   16|202126|          H. Kane| 24|    England|     89|       91|  Tottenham Hotspur| €83.5M|€205K|   2165|         Right|                       3|        4|          3|    High/ High|    Normal|      Yes|      ST|            9| Jul 1, 2010|       null|                2024|   6'2|196lbs|86+3|86+3|86+3|82+3|84+3|84+3|84+3|82+3|82+3|82+3|82+3|81+3|79+3|79+3|79+3|81+3|65+3|66+3|66+3|66+3|65+3|62+3|60+3|60+3|60+3|62+3|      75|       94|             85|          80|     84|       80|   78|        68|         82|         84|          68|         72|     71|       91|     71|       88|     78|     89|      84|       85|        76|           35|         93|    80|       90|       89|     56|            36|           38|       8|        10|       11|           14|        11|       €160.7M|
|   17|194765|     A. Griezmann| 27|     France|     89|       90|    Atlético Madrid|   €78M|€145K|   2246|          Left|                       4|        3|          4|    High/ High|      Lean|      Yes|     CAM|            7|Jul 28, 2014|       null|                2023|   5'9|161lbs|86+3|86+3|86+3|87+3|87+3|87+3|87+3|87+3|86+3|86+3|86+3|86+3|80+3|80+3|80+3|86+3|70+3|67+3|67+3|67+3|70+3|67+3|61+3|61+3|61+3|67+3|      82|       90|             84|          83|     87|       88|   84|        78|         76|         90|          88|         85|     90|       90|     80|       80|     90|     83|      62|       82|        69|           35|         91|    83|       79|       87|     59|            47|           48|      14|         8|       14|           13|        14|       €165.8M|
|   18|192448|    M. ter Stegen| 26|    Germany|     89|       92|       FC Barcelona|   €58M|€240K|   1328|         Right|                       3|        4|          1|Medium/ Medium|    Normal|      Yes|      GK|           22| Jul 1, 2014|       null|                2022|   6'2|187lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      15|       14|             11|          36|     14|       17|   18|        12|         42|         18|          38|         50|     37|       85|     43|       22|     79|     35|      79|       10|        43|           22|         11|    69|       25|       69|     25|            13|           10|      87|        85|       88|           85|        90|       €123.3M|
|   19|192119|      T. Courtois| 26|    Belgium|     89|       90|        Real Madrid| €53.5M|€240K|   1311|          Left|                       4|        2|          1|Medium/ Medium|  Courtois|      Yes|      GK|            1| Aug 9, 2018|       null|                2024|   6'6|212lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      14|       14|             13|          33|     12|       13|   19|        20|         35|         23|          46|         52|     61|       84|     45|       36|     68|     38|      70|       17|        23|           15|         13|    44|       27|       66|     20|            18|           16|      85|        91|       72|           86|        88|       €113.7M|
+-----+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
only showing top 20 rows

In [14]:
import pyspark.sql.functions as f
Values = df.select('Value',f.regexp_replace(f.col('Value'),'[€M]','').alias('Values')).select(f.col('Values'))

In [15]:
Values.show()

+------+
|Values|
+------+
| 110.5|
|    77|
| 118.5|
|    72|
|   102|
|    93|
|    67|
|    80|
|    51|
|    68|
|    77|
|  76.5|
|    44|
|    60|
|    63|
|    89|
|  83.5|
|    78|
|    58|
|  53.5|
+------+
only showing top 20 rows

In [16]:
df.select(f.col('Value')).show()

+-------+
|  Value|
+-------+
|€110.5M|
|   €77M|
|€118.5M|
|   €72M|
|  €102M|
|   €93M|
|   €67M|
|   €80M|
|   €51M|
|   €68M|
|   €77M|
| €76.5M|
|   €44M|
|   €60M|
|   €63M|
|   €89M|
| €83.5M|
|   €78M|
|   €58M|
| €53.5M|
+-------+
only showing top 20 rows

In [17]:
df = df.withColumn("Values", f.regexp_extract("value", "\\d+", 0))   #this is actually not the right way as I noticed later that Value has M and K both


#this is the correct way
#df.withColumn("weight_num", f.regexp_extract("weight", "\\d+", 0))
#  .withColumn("weight_unit", f.regexp_extract("weight", "[a-z]+", 0))
#  .show

In [18]:
df = df.withColumn("Wages", f.regexp_extract("Wage", "\\d+", 0))

In [19]:
df.show()

+-----+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+------+-----+
|Index|    ID|             Name|Age|Nationality|Overall|Potential|               Club|  Value| Wage|Special|Preferred Foot|International Reputation|Weak Foot|Skill Moves|     Work Rate| Body Type|Real Face|Position|Jersey Number|      Joined|Loaned From|Contract Valid Until|Height|Weight|  LS|  ST|  RS|  LW|  LF|  CF|  RF|  RW| LAM| CAM| RAM|  LM| LCM|  CM| RCM|  RM| LWB| LDM| CDM| RDM| RWB|  LB| LCB|  CB| RCB|  RB|Crossing|Finishing|HeadingAccuracy|ShortPassing|Volleys|Dribbling|Curve|FKAccuracy|LongPassing|BallControl|Acceleration|SprintSpeed|Agility|Reactions|Balance|ShotPower|Jumping|Stamina|Strength|LongShots|Aggression|Interceptions|Positioning|Vision|Penalties|Composure|Marking|StandingTackle|SlidingTackle|GKDiving|GKHandling|GKKicking|GKPositioning|GKReflexes|Release Clause|Values|Wages|
+-----+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+------+-----+
|    0|158023|         L. Messi| 31|  Argentina|     94|       94|       FC Barcelona|€110.5M|€565K|   2202|          Left|                       5|        4|          4|Medium/ Medium|     Messi|      Yes|      RF|           10| Jul 1, 2004|       null|                2021|   5'7|159lbs|88+2|88+2|88+2|92+2|93+2|93+2|93+2|92+2|93+2|93+2|93+2|91+2|84+2|84+2|84+2|91+2|64+2|61+2|61+2|61+2|64+2|59+2|47+2|47+2|47+2|59+2|      84|       95|             70|          90|     86|       97|   93|        94|         87|         96|          91|         86|     91|       95|     95|       85|     68|     72|      59|       94|        48|           22|         94|    94|       75|       96|     33|            28|           26|       6|        11|       15|           14|         8|       €226.5M|   110|  565|
|    1| 20801|Cristiano Ronaldo| 33|   Portugal|     94|       94|           Juventus|   €77M|€405K|   2228|         Right|                       5|        4|          5|     High/ Low|C. Ronaldo|      Yes|      ST|            7|Jul 10, 2018|       null|                2022|   6'2|183lbs|91+3|91+3|91+3|89+3|90+3|90+3|90+3|89+3|88+3|88+3|88+3|88+3|81+3|81+3|81+3|88+3|65+3|61+3|61+3|61+3|65+3|61+3|53+3|53+3|53+3|61+3|      84|       94|             89|          81|     87|       88|   81|        76|         77|         94|          89|         91|     87|       96|     70|       95|     95|     88|      79|       93|        63|           29|         95|    82|       85|       95|     28|            31|           23|       7|        11|       15|           14|        11|       €127.1M|    77|  405|
|    2|190871|        Neymar Jr| 26|     Brazil|     92|       93|Paris Saint-Germain|€118.5M|€290K|   2143|         Right|                       5|        5|          5|  High/ Medium|    Neymar|      Yes|      LW|           10| Aug 3, 2017|       null|                2022|   5'9|150lbs|84+3|84+3|84+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|88+3|81+3|81+3|81+3|88+3|65+3|60+3|60+3|60+3|65+3|60+3|47+3|47+3|47+3|60+3|      79|       87|             62|          84|     84|       96|   88|        87|         78|         95|          94|         90|     96|       94|     84|       80|     61|     81|      49|       82|        56|           36|         89|    87|       81|       94|     27|            24|           33|       9|         9|       15|           15|        11|       €228.1M|   118|  290|
|    3|193080|           De Gea| 27|      Spain|     91|       93|  Manchester United|   €72M|€260K|   1471|         Right|                       4|        3|          1|Medium/ Medium|      Lean|      Yes|      GK|            1| Jul 1, 2011|       null|                2020|   6'4|168lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      17|       13|             21|          50|     13|       18|   21|        19|         51|         42|          57|         58|     60|       90|     43|       31|     67|     43|      64|       12|        38|           30|         12|    68|       40|       68|     15|            21|           13|      90|        85|       87|           88|        94|       €138.6M|    72|  260|
|    4|192985|     K. De Bruyne| 27|    Belgium|     91|       92|    Manchester City|  €102M|€355K|   2281|         Right|                       4|        5|          4|    High/ High|    Normal|      Yes|     RCM|            7|Aug 30, 2015|       null|                2023|  5'11|154lbs|82+3|82+3|82+3|87+3|87+3|87+3|87+3|87+3|88+3|88+3|88+3|88+3|87+3|87+3|87+3|88+3|77+3|77+3|77+3|77+3|77+3|73+3|66+3|66+3|66+3|73+3|      93|       82|             55|          92|     82|       86|   85|        83|         91|         91|          78|         76|     79|       91|     77|       91|     63|     90|      75|       91|        76|           61|         87|    94|       79|       88|     68|            58|           51|      15|        13|        5|           10|        13|       €196.4M|   102|  355|
|    5|183277|        E. Hazard| 27|    Belgium|     91|       91|            Chelsea|   €93M|€340K|   2142|         Right|                       4|        4|          4|  High/ Medium|    Normal|      Yes|      LF|           10| Jul 1, 2012|       null|                2020|   5'8|163lbs|83+3|83+3|83+3|89+3|88+3|88+3|88+3|89+3|89+3|89+3|89+3|89+3|82+3|82+3|82+3|89+3|66+3|63+3|63+3|63+3|66+3|60+3|49+3|49+3|49+3|60+3|      81|       84|             61|          89|     80|       95|   83|        79|         83|         94|          94|         88|     95|       90|     94|       82|     56|     83|      66|       80|        54|           41|         87|    89|       86|       91|     34|            27|           22|      11|        12|        6|            8|         8|       €172.1M|    93|  340|
|    6|177003|        L. Modrić| 32|    Croatia|     91|       91|        Real Madrid|   €67M|€420K|   2280|         Right|                       4|        4|          4|    High/ High|      Lean|      Yes|     RCM|           10| Aug 1, 2012|       null|                2020|   5'8|146lbs|77+3|77+3|77+3|85+3|84+3|84+3|84+3|85+3|87+3|87+3|87+3|86+3|88+3|88+3|88+3|86+3|82+3|81+3|81+3|81+3|82+3|79+3|71+3|71+3|71+3|79+3|      86|       72|             55|          93|     76|       90|   85|        78|         88|         93|          80|         72|     93|       90|     94|       79|     68|     89|      58|       82|        62|           83|         79|    92|       82|       84|     60|            76|           73|      13|         9|        7|           14|         9|       €137.4M|    67|  420|
|    7|176580|        L. Suárez| 31|    Uruguay|     91|       91|       FC Barcelona|   €80M|€455K|   2346|         Right|                       5|        4|          3|  High/ Medium|    Normal|      Yes|      RS|            9|Jul 11, 2014|       null|                2021|   6'0|190lbs|87+5|87+5|87+5|86+5|87+5|87+5|87+5|86+5|85+5|85+5|85+5|84+5|79+5|79+5|79+5|84+5|69+5|68+5|68+5|68+5|69+5|66+5|63+5|63+5|63+5|66+5|      77|       93|             77|          82|     88|       87|   86|        84|         64|         90|          86|         75|     82|       92|     83|       86|     69|     90|      83|       85|        87|           41|         92|    84|       85|       85|     62|            45|           38|      27|        25|       31|           33|        37|         €164M|    80|  455|
|    8|155862|     Sergio Ramos| 32|      Spain|     91|       91|        Real Madrid|   €51M|€380K|   2201|         Right|                       4|        3|          3|  High/ Medium|    Normal|      Yes|     RCB|           15| Aug 1, 2005|       null|                2020|   6'0|181lbs|73+3|73+3|73+3|70+3|71+3|71+3|71+3|70+3|71+3|71+3|71+3|72+3|75+3|75+3|75+3|72+3|81+3|84+3|84+3|84+3|81+3|84+3|87+3|87+3|87+3|84+3|      66|       60|             91|          78|     66|       63|   74|        72|         77|         84|          76|         75|     78|       85|     66|       79|     93|     84|      83|       59|        88|           90|         60|    63|       75|       82|     87|            92|           91|      11|         8|        9|            7|        11|       €104.6M|    51|  380|
|    9|200389|         J. Oblak| 25|   Slovenia|     90|       93|    Atlético Madrid|   €68M| €94K|   1331|         Right|                       3|        3|          1|Medium/ Medium|    Normal|      Yes|      GK|            1|Jul 16, 2014|       null|                2021|   6'2|192lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      13|       11|             15|          29|     13|       12|   13|        14|         26|         16|          43|         60|     67|       86|     49|       22|     76|     41|      78|       12|        34|           19|         11|    70|       11|       70|     27|            12|           18|      86|        92|       78|           88|        89|       €144.5M|    68|   94|
|   10|188545|   R. Lewandowski| 29|     Poland|     90|       90|  FC Bayern München|   €77M|€205K|   2152|         Right|                       4|        4|          4|  High/ Medium|    Normal|      Yes|      ST|            9| Jul 1, 2014|       null|                2021|   6'0|176lbs|87+3|87+3|87+3|83+3|86+3|86+3|86+3|83+3|83+3|83+3|83+3|81+3|77+3|77+3|77+3|81+3|61+3|62+3|62+3|62+3|61+3|58+3|57+3|57+3|57+3|58+3|      62|       91|             85|          83|     89|       85|   77|        86|         65|         89|          77|         78|     78|       90|     78|       88|     84|     78|      84|       84|        80|           39|         91|    77|       88|       86|     34|            42|           19|      15|         6|       12|            8|        10|       €127.1M|    77|  205|
|   11|182521|         T. Kroos| 28|    Germany|     90|       90|        Real Madrid| €76.5M|€355K|   2190|         Right|                       4|        5|          3|Medium/ Medium|    Normal|      Yes|     LCM|            8|Jul 17, 2014|       null|                2022|   6'0|168lbs|78+3|78+3|78+3|81+3|82+3|82+3|82+3|81+3|84+3|84+3|84+3|82+3|86+3|86+3|86+3|82+3|79+3|82+3|82+3|82+3|79+3|77+3|72+3|72+3|72+3|77+3|      88|       76|             54|          92|     82|       81|   86|        84|         93|         90|          64|         62|     70|       89|     71|       87|     30|     75|      73|       92|        60|           82|         79|    86|       73|       85|     72|            79|           69|      10|        11|       13|            7|        10|       €156.8M|    76|  355|
|   12|182493|         D. Godín| 32|    Uruguay|     90|       90|    Atlético Madrid|   €44M|€125K|   1946|         Right|                       3|        3|          2|  Medium/ High|      Lean|      Yes|      CB|           10| Aug 4, 2010|       null|                2019|   6'2|172lbs|64+3|64+3|64+3|61+3|62+3|62+3|62+3|61+3|62+3|62+3|62+3|63+3|68+3|68+3|68+3|63+3|76+3|81+3|81+3|81+3|76+3|79+3|87+3|87+3|87+3|79+3|      55|       42|             92|          79|     47|       53|   49|        51|         70|         76|          68|         68|     58|       85|     54|       67|     91|     66|      88|       43|        89|           88|         48|    52|       50|       82|     90|            89|           89|       6|         8|       15|            5|        15|        €90.2M|    44|  125|
|   13|168542|      David Silva| 32|      Spain|     90|       90|    Manchester City|   €60M|€285K|   2115|          Left|                       4|        2|          4|  High/ Medium|    Normal|      Yes|     LCM|           21|Jul 14, 2010|       null|                2020|   5'8|148lbs|77+3|77+3|77+3|85+3|84+3|84+3|84+3|85+3|87+3|87+3|87+3|85+3|85+3|85+3|85+3|85+3|69+3|70+3|70+3|70+3|69+3|64+3|57+3|57+3|57+3|64+3|      84|       76|             54|          93|     82|       89|   82|        77|         87|         94|          70|         64|     92|       90|     90|       72|     64|     78|      52|       75|        57|           50|         89|    92|       75|       93|     59|            53|           29|       6|        15|        7|            6|        12|         €111M|    60|  285|
|   14|215914|         N. Kanté| 27|     France|     89|       90|            Chelsea|   €63M|€225K|   2189|         Right|                       3|        3|          2|  Medium/ High|      Lean|      Yes|     LDM|           13|Jul 16, 2016|       null|                2023|   5'6|159lbs|72+3|72+3|72+3|77+3|77+3|77+3|77+3|77+3|79+3|79+3|79+3|79+3|82+3|82+3|82+3|79+3|85+3|87+3|87+3|87+3|85+3|84+3|83+3|83+3|83+3|84+3|      68|       65|             54|          86|     56|       79|   49|        49|         81|         80|          82|         78|     82|       93|     92|       71|     77|     96|      76|       69|        90|           92|         71|    79|       54|       85|     90|            91|           85|      15|        12|       10|            7|        10|       €121.3M|    63|  225|
|   15|211110|        P. Dybala| 24|  Argentina|     89|       94|           Juventus|   €89M|€205K|   2092|          Left|                       3|        3|          4|  High/ Medium|    Normal|      Yes|      LF|           21| Jul 1, 2015|       null|                2022|  5'10|165lbs|83+3|83+3|83+3|87+3|86+3|86+3|86+3|87+3|87+3|87+3|87+3|86+3|79+3|79+3|79+3|86+3|62+3|58+3|58+3|58+3|62+3|56+3|45+3|45+3|45+3|56+3|      82|       84|             68|          87|     88|       92|   88|        88|         75|         92|          87|         83|     91|       86|     85|       82|     75|     80|      65|       88|        48|           32|         84|    87|       86|       84|     23|            20|           20|       5|         4|        4|            5|         8|       €153.5M|    89|  205|
|   16|202126|          H. Kane| 24|    England|     89|       91|  Tottenham Hotspur| €83.5M|€205K|   2165|         Right|                       3|        4|          3|    High/ High|    Normal|      Yes|      ST|            9| Jul 1, 2010|       null|                2024|   6'2|196lbs|86+3|86+3|86+3|82+3|84+3|84+3|84+3|82+3|82+3|82+3|82+3|81+3|79+3|79+3|79+3|81+3|65+3|66+3|66+3|66+3|65+3|62+3|60+3|60+3|60+3|62+3|      75|       94|             85|          80|     84|       80|   78|        68|         82|         84|          68|         72|     71|       91|     71|       88|     78|     89|      84|       85|        76|           35|         93|    80|       90|       89|     56|            36|           38|       8|        10|       11|           14|        11|       €160.7M|    83|  205|
|   17|194765|     A. Griezmann| 27|     France|     89|       90|    Atlético Madrid|   €78M|€145K|   2246|          Left|                       4|        3|          4|    High/ High|      Lean|      Yes|     CAM|            7|Jul 28, 2014|       null|                2023|   5'9|161lbs|86+3|86+3|86+3|87+3|87+3|87+3|87+3|87+3|86+3|86+3|86+3|86+3|80+3|80+3|80+3|86+3|70+3|67+3|67+3|67+3|70+3|67+3|61+3|61+3|61+3|67+3|      82|       90|             84|          83|     87|       88|   84|        78|         76|         90|          88|         85|     90|       90|     80|       80|     90|     83|      62|       82|        69|           35|         91|    83|       79|       87|     59|            47|           48|      14|         8|       14|           13|        14|       €165.8M|    78|  145|
|   18|192448|    M. ter Stegen| 26|    Germany|     89|       92|       FC Barcelona|   €58M|€240K|   1328|         Right|                       3|        4|          1|Medium/ Medium|    Normal|      Yes|      GK|           22| Jul 1, 2014|       null|                2022|   6'2|187lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      15|       14|             11|          36|     14|       17|   18|        12|         42|         18|          38|         50|     37|       85|     43|       22|     79|     35|      79|       10|        43|           22|         11|    69|       25|       69|     25|            13|           10|      87|        85|       88|           85|        90|       €123.3M|    58|  240|
|   19|192119|      T. Courtois| 26|    Belgium|     89|       90|        Real Madrid| €53.5M|€240K|   1311|          Left|                       4|        2|          1|Medium/ Medium|  Courtois|      Yes|      GK|            1| Aug 9, 2018|       null|                2024|   6'6|212lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|      14|       14|             13|          33|     12|       13|   19|        20|         35|         23|          46|         52|     61|       84|     45|       36|     68|     38|      70|       17|        23|           15|         13|    44|       27|       66|     20|            18|           16|      85|        91|       72|           86|        88|       €113.7M|    53|  240|
+-----+------+-----------------+---+-----------+-------+---------+-------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+------+-----+
only showing top 20 rows

In [20]:
df=df.drop('Value','Wage')

In [21]:
dff=df.select('ID','Age','Overall','Potential','Club','Values','Wages','Preferred Foot')

In [22]:
dff.show()

+------+---+-------+---------+-------------------+------+-----+--------------+
|    ID|Age|Overall|Potential|               Club|Values|Wages|Preferred Foot|
+------+---+-------+---------+-------------------+------+-----+--------------+
|158023| 31|     94|       94|       FC Barcelona|   110|  565|          Left|
| 20801| 33|     94|       94|           Juventus|    77|  405|         Right|
|190871| 26|     92|       93|Paris Saint-Germain|   118|  290|         Right|
|193080| 27|     91|       93|  Manchester United|    72|  260|         Right|
|192985| 27|     91|       92|    Manchester City|   102|  355|         Right|
|183277| 27|     91|       91|            Chelsea|    93|  340|         Right|
|177003| 32|     91|       91|        Real Madrid|    67|  420|         Right|
|176580| 31|     91|       91|       FC Barcelona|    80|  455|         Right|
|155862| 32|     91|       91|        Real Madrid|    51|  380|         Right|
|200389| 25|     90|       93|    Atlético Madrid|    68|   94|         Right|
|188545| 29|     90|       90|  FC Bayern München|    77|  205|         Right|
|182521| 28|     90|       90|        Real Madrid|    76|  355|         Right|
|182493| 32|     90|       90|    Atlético Madrid|    44|  125|         Right|
|168542| 32|     90|       90|    Manchester City|    60|  285|          Left|
|215914| 27|     89|       90|            Chelsea|    63|  225|         Right|
|211110| 24|     89|       94|           Juventus|    89|  205|          Left|
|202126| 24|     89|       91|  Tottenham Hotspur|    83|  205|         Right|
|194765| 27|     89|       90|    Atlético Madrid|    78|  145|          Left|
|192448| 26|     89|       92|       FC Barcelona|    58|  240|         Right|
|192119| 26|     89|       90|        Real Madrid|    53|  240|          Left|
+------+---+-------+---------+-------------------+------+-----+--------------+
only showing top 20 rows

In [23]:
dff.select([f.count(f.when(f.isnull(c), c)).alias(c) for c in dff.columns]).show()

+---+---+-------+---------+----+------+-----+--------------+
| ID|Age|Overall|Potential|Club|Values|Wages|Preferred Foot|
+---+---+-------+---------+----+------+-----+--------------+
|  0|  0|      0|        0| 241|     0|    0|            48|
+---+---+-------+---------+----+------+-----+--------------+

handling missing values https://www.youtube.com/watch?v=pOMXkbc06m4&list=PLZoTAELRMXVNjiiawhzZ0afHcPvC8jpcg&index=3&t=183s

Filtering

In [24]:
dff.filter('Age<=20').show()

+------+---+-------+---------+-------------------+------+-----+--------------+
|    ID|Age|Overall|Potential|               Club|Values|Wages|Preferred Foot|
+------+---+-------+---------+-------------------+------+-----+--------------+
|231747| 19|     88|       95|Paris Saint-Germain|    81|  100|         Right|
|235243| 18|     82|       91|               Ajax|    27|   11|         Right|
|230621| 19|     82|       93|              Milan|    29|   23|         Right|
|231677| 20|     81|       89|  Manchester United|    27|  110|         Right|
|229906| 20|     81|       89|Bayer 04 Leverkusen|    26|   54|          Left|
|235790| 19|     80|       89|Bayer 04 Leverkusen|    22|   32|          Left|
|234906| 20|     80|       90| Olympique Lyonnais|    23|   51|         Right|
|244369| 20|     79|       86|        Dynamo Kyiv|    18|    1|          Left|
|231478| 20|     79|       86|              Inter|    18|   54|         Right|
|227796| 19|     79|       87|  Borussia Dortmund|    18|   26|         Right|
|225953| 20|     79|       86|                PSV|    18|   17|         Right|
|240130| 20|     78|       87|           FC Porto|    14|   10|         Right|
|235805| 20|     78|       87|         Fiorentina|    16|   46|         Right|
|235212| 19|     78|       86|  Borussia Dortmund|    12|   49|         Right|
|232432| 20|     78|       86|Eintracht Frankfurt|    15|   12|         Right|
|231691| 19|     78|       90|         Fiorentina|    14|   12|         Right|
|231281| 19|     78|       88|          Liverpool|    14|   36|         Right|
|221342| 20|     78|       86|      VfB Stuttgart|    13|   24|         Right|
|233049| 18|     77|       89|  Borussia Dortmund|    14|   22|         Right|
|235889| 20|     77|       87|               Roma|    14|   46|          Left|
+------+---+-------+---------+-------------------+------+-----+--------------+
only showing top 20 rows

In [25]:
dff.filter(dff['Preferred FOot'] == 'Right').select(['Potential','Values']).show()

+---------+------+
|Potential|Values|
+---------+------+
|       94|    77|
|       93|   118|
|       93|    72|
|       92|   102|
|       91|    93|
|       91|    67|
|       91|    80|
|       91|    51|
|       93|    68|
|       90|    77|
|       90|    76|
|       90|    44|
|       90|    63|
|       91|    83|
|       92|    58|
|       89|    51|
|       89|    60|
|       89|    38|
|       89|    64|
|       95|    81|
+---------+------+
only showing top 20 rows

In [26]:
dff.filter((dff['Age']>30) & (dff['Club']=='Manchester United')).show()     #for OR use |

+------+---+-------+---------+-----------------+------+-----+--------------+
|    ID|Age|Overall|Potential|             Club|Values|Wages|Preferred Foot|
+------+---+-------+---------+-----------------+------+-----+--------------+
|167905| 32|     81|       81|Manchester United|    10|  120|         Right|
|173373| 31|     80|       80|Manchester United|     9|   91|         Right|
|152908| 32|     79|       79|Manchester United|     7|  110|         Right|
| 53739| 35|     74|       74|Manchester United|     1|   39|         Right|
+------+---+-------+---------+-----------------+------+-----+--------------+

In [27]:
dff.groupBy("Club").sum("Potential").show()    #sum of potential according to club

+--------------------+--------------+
|                Club|sum(Potential)|
+--------------------+--------------+
|             Palermo|          2227|
|          Göztepe SK|          2013|
|CD Everton de Viñ...|          1878|
|     Shonan Bellmare|          1944|
|         Yeovil Town|          1856|
|          Sagan Tosu|          2002|
|  1. FC Union Berlin|          2054|
|               Carpi|          2058|
|           Puebla FC|          2067|
|  Argentinos Juniors|          2019|
|     SC Paderborn 07|          2090|
|       Karlsruher SC|          1915|
|     Cheltenham Town|          1559|
|         SC Freiburg|          2239|
|San Lorenzo de Al...|          2120|
|  SpVgg Unterhaching|          1738|
|Universidad Católica|          2043|
|         GFC Ajaccio|          1551|
|           FC Luzern|          1923|
|                 AIK|          1880|
+--------------------+--------------+
only showing top 20 rows

In [28]:
dff.groupBy('Club').max('Potential').show()   #max potential score for each club

+--------------------+--------------+
|                Club|max(Potential)|
+--------------------+--------------+
|             Palermo|            81|
|          Göztepe SK|            77|
|CD Everton de Viñ...|            79|
|     Shonan Bellmare|            72|
|         Yeovil Town|            73|
|          Sagan Tosu|            80|
|  1. FC Union Berlin|            79|
|               Carpi|            80|
|           Puebla FC|            80|
|  Argentinos Juniors|            84|
|     SC Paderborn 07|            77|
|       Karlsruher SC|            74|
|     Cheltenham Town|            77|
|         SC Freiburg|            80|
|San Lorenzo de Al...|            82|
|  SpVgg Unterhaching|            74|
|Universidad Católica|            81|
|         GFC Ajaccio|            75|
|           FC Luzern|            82|
|                 AIK|            79|
+--------------------+--------------+
only showing top 20 rows

In [29]:
dff.groupBy("Club").mean("Overall").show()

+--------------------+------------------+
|                Club|      avg(Overall)|
+--------------------+------------------+
|             Palermo| 67.96666666666667|
|          Göztepe SK| 68.42857142857143|
|CD Everton de Viñ...|63.666666666666664|
|     Shonan Bellmare|              60.6|
|         Yeovil Town|60.357142857142854|
|          Sagan Tosu| 64.23333333333333|
|  1. FC Union Berlin| 68.32142857142857|
|               Carpi|63.666666666666664|
|           Puebla FC| 65.23333333333333|
|  Argentinos Juniors| 64.64285714285714|
|     SC Paderborn 07|63.733333333333334|
|       Karlsruher SC|             63.25|
|     Cheltenham Town|60.333333333333336|
|         SC Freiburg|              70.2|
|San Lorenzo de Al...| 68.96428571428571|
|  SpVgg Unterhaching| 61.38461538461539|
|Universidad Católica| 66.21428571428571|
|         GFC Ajaccio| 62.56521739130435|
|           FC Luzern|63.666666666666664|
|                 AIK| 65.07407407407408|
+--------------------+------------------+
only showing top 20 rows

In [30]:
dff.groupBy("Club").count().filter('count>30').show()

+------------------+-----+
|              Club|count|
+------------------+-----+
| Manchester United|   33|
|      Cardiff City|   33|
|       FC Augsburg|   31|
|           Arsenal|   33|
|             Lazio|   32|
|              null|  241|
|  Newcastle United|   33|
|  SV Werder Bremen|   32|
|    Crystal Palace|   32|
|       Real Madrid|   33|
|           Burnley|   33|
|        Levante UD|   32|
|   Manchester City|   33|
|       Bournemouth|   32|
|   1. FSV Mainz 05|   32|
|            Fulham|   32|
|   Atlético Madrid|   33|
|      FC Barcelona|   33|
|        Hertha BSC|   32|
|Fortuna Düsseldorf|   33|
+------------------+-----+
only showing top 20 rows

In [31]:
dff.agg({'Wages':'sum'}).show()   #overall salary expenditure

+----------+
|sum(Wages)|
+----------+
|  177178.0|
+----------+

In [40]:
from pyspark.sql.types import IntegerType
dff = dff.withColumn('Wages', dff['Wages'].cast(IntegerType()))
dff.show()

+------+---+-------+---------+-------------------+------+-----+--------------+
|    ID|Age|Overall|Potential|               Club|Values|Wages|Preferred Foot|
+------+---+-------+---------+-------------------+------+-----+--------------+
|158023| 31|     94|       94|       FC Barcelona|   110|  565|          Left|
| 20801| 33|     94|       94|           Juventus|    77|  405|         Right|
|190871| 26|     92|       93|Paris Saint-Germain|   118|  290|         Right|
|193080| 27|     91|       93|  Manchester United|    72|  260|         Right|
|192985| 27|     91|       92|    Manchester City|   102|  355|         Right|
|183277| 27|     91|       91|            Chelsea|    93|  340|         Right|
|177003| 32|     91|       91|        Real Madrid|    67|  420|         Right|
|176580| 31|     91|       91|       FC Barcelona|    80|  455|         Right|
|155862| 32|     91|       91|        Real Madrid|    51|  380|         Right|
|200389| 25|     90|       93|    Atlético Madrid|    68|   94|         Right|
|188545| 29|     90|       90|  FC Bayern München|    77|  205|         Right|
|182521| 28|     90|       90|        Real Madrid|    76|  355|         Right|
|182493| 32|     90|       90|    Atlético Madrid|    44|  125|         Right|
|168542| 32|     90|       90|    Manchester City|    60|  285|          Left|
|215914| 27|     89|       90|            Chelsea|    63|  225|         Right|
|211110| 24|     89|       94|           Juventus|    89|  205|          Left|
|202126| 24|     89|       91|  Tottenham Hotspur|    83|  205|         Right|
|194765| 27|     89|       90|    Atlético Madrid|    78|  145|          Left|
|192448| 26|     89|       92|       FC Barcelona|    58|  240|         Right|
|192119| 26|     89|       90|        Real Madrid|    53|  240|          Left|
+------+---+-------+---------+-------------------+------+-----+--------------+
only showing top 20 rows

In [41]:
dff = dff.withColumn('Age', dff['Age'].cast(IntegerType()))
dff = dff.withColumn('Overall', dff['Overall'].cast(IntegerType()))

In [32]:
from pyspark.ml.feature import VectorAssembler

In [42]:
featureassembler = VectorAssembler(inputCols=['Age','Overall'], outputCol= 'Ind features')

In [43]:
output = featureassembler.transform(dff)

In [44]:
output.show()

+------+---+-------+---------+-------------------+------+-----+--------------+------------+
|    ID|Age|Overall|Potential|               Club|Values|Wages|Preferred Foot|Ind features|
+------+---+-------+---------+-------------------+------+-----+--------------+------------+
|158023| 31|     94|       94|       FC Barcelona|   110|  565|          Left| [31.0,94.0]|
| 20801| 33|     94|       94|           Juventus|    77|  405|         Right| [33.0,94.0]|
|190871| 26|     92|       93|Paris Saint-Germain|   118|  290|         Right| [26.0,92.0]|
|193080| 27|     91|       93|  Manchester United|    72|  260|         Right| [27.0,91.0]|
|192985| 27|     91|       92|    Manchester City|   102|  355|         Right| [27.0,91.0]|
|183277| 27|     91|       91|            Chelsea|    93|  340|         Right| [27.0,91.0]|
|177003| 32|     91|       91|        Real Madrid|    67|  420|         Right| [32.0,91.0]|
|176580| 31|     91|       91|       FC Barcelona|    80|  455|         Right| [31.0,91.0]|
|155862| 32|     91|       91|        Real Madrid|    51|  380|         Right| [32.0,91.0]|
|200389| 25|     90|       93|    Atlético Madrid|    68|   94|         Right| [25.0,90.0]|
|188545| 29|     90|       90|  FC Bayern München|    77|  205|         Right| [29.0,90.0]|
|182521| 28|     90|       90|        Real Madrid|    76|  355|         Right| [28.0,90.0]|
|182493| 32|     90|       90|    Atlético Madrid|    44|  125|         Right| [32.0,90.0]|
|168542| 32|     90|       90|    Manchester City|    60|  285|          Left| [32.0,90.0]|
|215914| 27|     89|       90|            Chelsea|    63|  225|         Right| [27.0,89.0]|
|211110| 24|     89|       94|           Juventus|    89|  205|          Left| [24.0,89.0]|
|202126| 24|     89|       91|  Tottenham Hotspur|    83|  205|         Right| [24.0,89.0]|
|194765| 27|     89|       90|    Atlético Madrid|    78|  145|          Left| [27.0,89.0]|
|192448| 26|     89|       92|       FC Barcelona|    58|  240|         Right| [26.0,89.0]|
|192119| 26|     89|       90|        Real Madrid|    53|  240|          Left| [26.0,89.0]|
+------+---+-------+---------+-------------------+------+-----+--------------+------------+
only showing top 20 rows

In [45]:
data_final = output.select(['Ind features', 'Wages'])

In [37]:
from pyspark.ml.regression import LinearRegression

In [46]:
trainData, testData = data_final.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Ind features', labelCol='Wages')

regressor = regressor.fit(trainData)

In [47]:
pred = regressor.evaluate(testData)

In [48]:
pred.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+------------+-----+------------------+
|Ind features|Wages|        prediction|
+------------+-----+------------------+
| [16.0,63.0]|    1| 9.436281083678566|
| [16.0,63.0]|    1| 9.436281083678566|
| [17.0,63.0]|    1| 8.747748912615506|
| [17.0,63.0]|    2| 8.747748912615506|
| [17.0,63.0]|    5| 8.747748912615506|
| [17.0,64.0]|    1|10.736758407528072|
| [17.0,65.0]|    2|12.725767902440623|
| [17.0,65.0]|    8|12.725767902440623|
| [17.0,67.0]|   11|16.703786892265754|
| [17.0,68.0]|    2| 18.69279638717832|
| [17.0,70.0]|   25| 22.67081537700345|
| [18.0,62.0]|    1| 6.070207246639882|
| [18.0,62.0]|    1| 6.070207246639882|
| [18.0,63.0]|    2| 8.059216741552447|
| [18.0,63.0]|    2| 8.059216741552447|
| [18.0,63.0]|    3| 8.059216741552447|
| [18.0,63.0]|    4| 8.059216741552447|
| [18.0,63.0]|    4| 8.059216741552447|
| [18.0,64.0]|    1|10.048226236465013|
| [18.0,64.0]|    2|10.048226236465013|
+------------+-----+------------------+
only showing top 20 rows

In [49]:
pred.meanAbsoluteError, pred.meanSquaredError

(9.282655966179943, 385.5703827283202)