In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\shreya\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\shreya\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [12]:
import pyspark

In [4]:
import pandas as pd

In [5]:
data = [['Shreya', 23], ['Meghana', 22], ['Kiara', 10]]
df= pd.DataFrame(data,columns =['Name', 'Age'])
df

      Name  Age
0   Shreya   23
1  Meghana   22
2    Kiara   10

In [17]:
df.to_csv('test.csv', index=False)

In [13]:
from pyspark.sql import SparkSession

In [15]:
spark = SparkSession.builder.appName('Demo1').getOrCreate()

In [16]:
spark

In [18]:
df_pyspark = spark.read.csv('test.csv')

In [19]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
| Shreya| 23|
|Meghana| 22|
|  Kiara| 10|
+-------+---+

In [32]:
df_pyspark = spark.read.option('header','true').csv('test.csv')
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
| Shreya| 23|
|Meghana| 22|
|  Kiara| 10|
+-------+---+

In [52]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [33]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [51]:
df_pyspark.head(1)

[]

In [37]:
##Some more functionalities

In [35]:
data = [['Shreya', 23, 1], ['Meghana', 22, 2], ['Kiara', 10, 0]]
df2= pd.DataFrame(data,columns =['Name', 'Age', 'Exp'])
df2

      Name  Age  Exp
0   Shreya   23    1
1  Meghana   22    2
2    Kiara   10    0

In [36]:
df2.to_csv('test1.csv', index=False)

In [39]:
dfspark = spark.read.option('header','true').csv('test1.csv')
dfspark.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
| Shreya| 23|  1|
|Meghana| 22|  2|
|  Kiara| 10|  0|
+-------+---+---+

In [41]:
#or 
dfspark = spark.read.csv('test1.csv',header=True,inferSchema=True)
dfspark.show()

+-------+---+---+
|   Name|Age|Exp|
+-------+---+---+
| Shreya| 23|  1|
|Meghana| 22|  2|
|  Kiara| 10|  0|
+-------+---+---+

In [42]:
dfspark.select('Name').show()

+-------+
|   Name|
+-------+
| Shreya|
|Meghana|
|  Kiara|
+-------+

In [48]:
dfspark.select(['Name', 'Exp']).show()

+-------+---+
|   Name|Exp|
+-------+---+
| Shreya|  1|
|Meghana|  2|
|  Kiara|  0|
+-------+---+

In [49]:
dfspark.dtypes

ValueError: Unable to parse datatype from schema. An error occurred while calling o145.json.
: java.lang.NoSuchMethodError: 'org.json4s.JsonDSL$JsonAssoc org.json4s.JsonDSL$.pair2Assoc(scala.Tuple2, scala.Function1)'
	at org.apache.spark.sql.types.StructType.jsonValue(StructType.scala:411)
	at org.apache.spark.sql.types.StructType.jsonValue(StructType.scala:102)
	at org.apache.spark.sql.types.DataType.json(DataType.scala:76)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [50]:
dfspark.describe()

ValueError: Unable to parse datatype from schema. An error occurred while calling o156.json.
: java.lang.NoSuchMethodError: 'org.json4s.JsonDSL$JsonAssoc org.json4s.JsonDSL$.pair2Assoc(scala.Tuple2, scala.Function1)'
	at org.apache.spark.sql.types.StructType.jsonValue(StructType.scala:411)
	at org.apache.spark.sql.types.StructType.jsonValue(StructType.scala:102)
	at org.apache.spark.sql.types.DataType.json(DataType.scala:76)
	at jdk.internal.reflect.GeneratedMethodAccessor49.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:829)

NameError: name 'self' is not defined

In [57]:
spark.stop()